body {
    width: 100%;
    height: 100%;
    line-height: 1.4;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}


.mother {
    width: 100%;
    display: flex;
    align-items: center;
}
.container{
    justify-content: center;
}
.width{
    width: 70%;
    display: flex;
}



/* nav bar start */
nav {
    background-color: white ;
    height: 80px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.head{
    padding-right: 25px;
    color: black;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.25;
    letter-spacing: 1.4px;
    text-transform: uppercase;
}
nav div a{
    margin-left: 30px;
    padding: 15px;
    border-radius: 10px;
    color: grey;
}
nav div a:hover{
    background-color: wheat;
    color: grey;
}
a {
    text-decoration: unset;
}
.right{
    margin-left: 20%;
}
/* nav bar end */





/* bg-land/overlay starts */
.overlay {
    width: 100%;
    /* display:list-item; */
    height: 80vh; 
    padding-top: 10px;
    padding-left: 15%;
    background-color: rgba(0, 0, 0, 0.8);
} 
.bg-land{
    width: 100%;
    height: 80vh;
    background-image: url(/images/campaign-creators-3WNi-5s4LVg-unsplash.jpg);
    background-size: cover;
    overflow: hidden;
    background-position: center;
}
.text {
    padding-top: 90px;
    color: wheat;
    font-size: 1.5rem;
    font-style: normal;
    font-family: Poppins;
    font-weight: 700;
    line-height: 1.25;
    letter-spacing: 1.4px;
    text-transform: uppercase;
}
.text-2 {
    width: 60%;
    margin-top: 90px;
    color: wheat;
    font-size: 1.0rem;
}
/* bg-land/overlay end */






/* about me start */
.me{
    width: 45%;
}
.me1{
    display: flex;
}
.me2{
    text-align: center;
    justify-content: center;
    width: 15%;
    margin-left: 28%;
}
.image{
    width: 200px;
    height: 200px;
}  
/* about me end  */



/* form section */
.form-section{
    background-color: black;
    color: wheat;
    padding-top: 60px;
    padding-bottom: 50px;
}
.form1{
    background-color: #fff;
    width: 70%;
}
.form{
    padding-left: px;
    background-color: blue;
}
.name{
    /* padding-bottom: 50cap; */
    margin-top: 40px;
}
/* form section end  */






.myform{
    padding-left: 30px;
    background-color:wheat;
    /* justify-content: center; */
    border-radius: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}
.myform input[type="text"],
  .myform input[type="email"],
  .myform button[type="submit"],
  .myform input[type="number"] {
  margin-bottom: 10px;
  padding: 5px;
  width: 300%;
  border-radius: 20px;
  background-color: wheat;
  }
  .myform input[type="feed"]{
    height: 90px;
    margin-bottom: 10px;
    padding: 5px;
    width: 300%;
    border-radius: 20px;
    text-align:justify;
    text-orientation: upright;
  }
  .myform button[type="submit"] {
  background-color: tomato;
  color: #fff;
  padding: 10px;
  cursor: pointer;
  height: 40px;
  }
  .myform label {
    display: block;
    color: black;
    font-family:'Courier New', Courier, monospace;
    }
    #head{
      color: red;
      font-size: large;
    }







.down-1 {
    margin-top: 1%;
}.down-2 {
    margin-top: 2%;
}.down-3 {
    margin-top: 3%;
}.down-4 {
    margin-top: 4%;
}.down-5 {
    margin-top: 5%;
}.down-6 {
    margin-top: 6%;
}.down-7 {
    margin-top: 7%;
}.down-8 {
    margin-top: 8%;
}.down-9 {
    margin-top: 9%;
}.down-10 {
    margin-top: 10%;
}.down-11 {
    margin-top: 11%;
}.down-12 {
    margin-top: 12%;
}.down-13 {
    margin-top: 13%;
}.down-14 {
    margin-top: 14%;
}.down-15 {
    margin-top: 15%;
}

















